<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de API</title>
    <!-- Agrega Tailwind CSS si es necesario -->
    <link href="{{url_for('static', filename='styles.css/tailwind.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto p-4">
        <form action="/logout" method="POST">
            <button id="logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">LogOut</button>
        </form>


         <h1 class="text-2xl font-bold mb-4">Mi servidor con Flask, TailwindCSS y Python</h1>

        <button id="api2" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ir a api 2</button>
<h1 class="text-2xl font-bold mb-4">Datos de la API 1</h1>
        <!-- Mostrar datos en una tabla -->
        {% if data and not data.error %}
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr class="w-full bg-gray-100 border-b">
                        <th class="py-2 px-4 text-left">ID</th>
                        <th class="py-2 px-4 text-left">User ID</th>
                        <th class="py-2 px-4 text-left">Title</th>
                        <th class="py-2 px-4 text-left">Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border-b">{{ data.id }}</td>
                        <td class="py-2 px-4 border-b">{{ data.userId }}</td>
                        <td class="py-2 px-4 border-b">{{ data.title }}</td>
                        <td class="py-2 px-4 border-b">{{ data.completed }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No se pudieron obtener los datos.</p>
        {% endif %}
    </div>

</body>

 <script>
        // Selecciona el botón por su ID
        document.getElementById('api2').onclick = function() {
            // Redirige a 'pagina2.html'
            window.location.href = 'api2.html';
        };
    </script>
</html>
